vagrant/mariadb/.vagrant/machines/default/virtualbox/action_provision
vagrant/teiid/teiid1/.vagrant/machines/default/virtualbox/private_key
vagrant/teiid/teiid1/.vagrant/machines/default/virtualbox/synced_folders
vagrant/teiid/teiid2/.vagrant/machines/default/virtualbox/action_provision
vagrant/teiid/teiid2/.vagrant/machines/default/virtualbox/action_set_name
vagrant/teiid/teiid2/.vagrant/machines/default/virtualbox/creator_uid
vagrant/teiid/teiid2/.vagrant/machines/default/virtualbox/id
vagrant/teiid/teiid2/.vagrant/machines/default/virtualbox/index_uuid
vagrant/teiid/teiid2/.vagrant/machines/default/virtualbox/private_key
vagrant/teiid/teiid2/.vagrant/machines/default/virtualbox/synced_folders
vagrant/mariadb/.vagrant/machines/default/virtualbox/action_set_name
vagrant/mariadb/.vagrant/machines/default/virtualbox/creator_uid
vagrant/mariadb/.vagrant/machines/default/virtualbox/id
vagrant/mariadb/.vagrant/machines/default/virtualbox/index_uuid
vagrant/mariadb/.vagrant/machines/default/virtualbox/private_key
vagrant/mariadb/.vagrant/machines/default/virtualbox/synced_folders
vagrant/teiid/teiid1/.vagrant/machines/default/virtualbox/action_provision
vagrant/teiid/teiid1/.vagrant/machines/default/virtualbox/action_set_name
vagrant/teiid/teiid1/.vagrant/machines/default/virtualbox/creator_uid
vagrant/teiid/teiid1/.vagrant/machines/default/virtualbox/id
vagrant/teiid/teiid1/.vagrant/machines/default/virtualbox/index_uuid
